*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    background: linear-gradient(to right, #0000005b, #6363633f) , url(./images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 34px;
}
.see-all-offers-btns{
    transition: all 0.4s;
}
.see-all-offers-btns:hover{
    background-color: #1dd1001c;
}
.font-inter{
    font-family: "Inter", sans-serif;
}
.seat-btn{
    font-family: "Inter", sans-serif;
    padding: 0.8rem 1.2rem;
    background: #d7d7d7;
    border-radius: 8px;
    font-weight: 600;
    color: #4f4f4f;
}
.seat-btns{
    font-family: "Inter", sans-serif;
    padding: 0.8rem 1.2rem;
    background: #d7d7d7;
    border-radius: 8px;
    font-weight: 600;
    color: #4f4f4f;
}
#seat-count{
    background-color: #1dd100;
    color: #fff;
    padding: 0.1rem 0.8rem;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 600;
}
li{
    list-style: none;
}
.bg-colour{
    background-color: #1dd100;
    color: #fff;
    font-weight: 700;
}
.disabled {
    pointer-events: none;
}
